extends layout

block scripts
  script
    var socket = io.connect();
    socket.on('add list', function(list){
      var lists = $("li").get();
      lists.splice(4);
      var newlists = $("<li id=" + list.id +"><a href='/view/" + list.id + "'>" + list.name + "</a></li>").get().concat(lists);
      $("ul").empty().append(newlists);
    });
    socket.on('update title', function(list){
      var li = $("li#" + list.id + " a");
      if ( li.length == 1 ){
        li.text(list.name);
      }
    });
    function flipforward(callback){
      $(".item").addClass('flipforward');
      setTimeout(callback, 1000);
    }

block content
  block scripts
  #container
    .item
      a(onclick="flipforward(function(){window.location='new?id=#{lists.length}';})") New List
    .item
      a(onclick="flipforward(function(){window.location='lists';})") Old lists
      ul
        each list in lists
          li(id=list.id)
            a(onclick="flipforward(function(){window.location='view/#{list.id}';})")= list.name