extends layout

block scripts
  script
    var socket = io.connect();
    socket.on('add list', function(list){
      var newlist = $("<li id=" + list.id +"><a onclick='flipforward(function(){window.location = \'/view/\' + list.id)'>" + list.name + "</a></li>");
      $("ul").prepend(newlist);
    });
    socket.on('update title', function(list){
      var li = $("li#" + list.id + " a");
        if ( li.length == 1 ){
          li.text(list.name);
        }
    });
    function flipforward(callback){
      $(".item").addClass('flipforward');
      setTimeout(callback, 1000);
    }
    function flipbackward(callback){
      $(".item").addClass('flipbackward');
      setTimeout(callback, 1000);
    }
block content
  block scripts
  #container
    .item
      ul
        each list in lists
          li(id=list.id)
            a(onclick="flipforward(function(){window.location = '/view/#{list.id}';})")= list.name
    .item
      a(onclick="flipbackward(function(){window.location='/';})") Back